.ContactMe {
  display: inline-block;
  align-items: flex-end;
  align-items: center;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-image: url("images/MailSymbol.png");
}
.ContactMe:hover {
  background-color: #0056b3;
  background-image: url("images/MailSymbolOpen.png");
}

@media (max-width: 600px) {
  /* Styles for mobile screens */
  .card-section {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  background-color: #0056b3;
  max-width: 400px;
  flex: 1;
}

.card-section {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.featured-section {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap 25px;
}
