body {
  background-color: hsl(207, 73%, 15%);
}
h1 {
  padding: 35px;
  text-align: center;
  background-color: hsl(207, 73%, 30%);
  color: hsl(208, 100%, 97%);
}

h2,
h3 {
  text-align: center;
  color: hsl(208, 100%, 77%);
}

p {
  max-width: 60%;
  margin: 0 auto;
  color: hsl(208, 100%, 57%);
}
